@{
    ViewData["Title"] = "Prenotazione";
    var camere = ViewBag.Camere as List<CameraModel>;
    var prenotazioni = ViewBag.Prenotazioni as List<PrenotazioneModel>;
}
@model PrenotazioneModel

<div class="row d-flex justify-content-center align-content-center mb-4">
    <div class="col-6 card p-4">
        <h2>Prenota</h2>

        <form asp-action="Index" method="post">
            <div class="form-group mb-2">
                <label>Camera</label>
                <select asp-for="CameraId" class="form-control">
                    @foreach (var c in camere)
                    {
                        <option value="@c.CameraId">@c.Numero</option>
                    }
                </select>
                <span asp-validation-for="CameraId" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label>Data Inizio</label>
                <input asp-for="DataInizio" type="date" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label>Data Fine</label>
                <input asp-for="DataFine" type="date" class="form-control" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Prenota</button>
        </form>

    </div>
</div>

@if(User.IsInRole("Admin")){
    <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                <th>PrenotazioneId</th>
                <th>Stanza</th>
                <th>Info cliente</th>
                <th>DataInizio</th>
                <th>DataFine</th>
                    </tr>
                </thead>

                <tbody>
            @foreach (var p in prenotazioni)
                    {
                        <tr>
                            <td>@p.PrenotazioneId</td>
                            <td>@p.Camera.Numero</td>
                    <td>@p.Cliente.Nome @p.Cliente.Cognome (@p.Cliente.Email)</td>
                            <td>@p.DataInizio</td>
                            <td>@p.DataFine</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@p.PrenotazioneId" class="btn btn-warning btn-sm">Update</a>
                        <form asp-action="Delete" asp-route-id="@p.PrenotazioneId" method="post" style="display:inline">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>

                        </tr>
                    }
                </tbody>
            </table>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}